extends layout

block content
    #dashboard(ng-controller="pm2panel.ctrlers.dashboard")
        #gloabl
            .container.clearfix
                .row
                    .col-lg-12
                        h2 system
                        h2 {{panel.system_info.hostname}}
                        h3.updtime {{panel.system_info.uptime}} ms
        #monit
            .container.clearfix
                .row
                    .col-lg-12
                        h2 monit
                        h2 {{panel.monit.total_mem}}
                        h2 {{panel.monit.free_mem}}
                        ul.cpus.clearfix
                            li(ng-repeat="cpu in panel.monit.cpu") {{cpu.model}} ({{cpu.speed}})
        #processes
            .container.clearfix
                .row
                    .col-lg-12
                        h2 processes
                        ul.apps.clearfix
                            li(ng-repeat="app in panel.processes")
                                h3 Name: {{app.opts.name}}
                                h3 PID: {{app.pid}}
                                h3 restarted time: {{app.opts.restart_time}}
                                h3 path: {{app.opts.pm_exec_path}}
                                span.status status: {{app.status}}
                                .monit.clearfix
                                    h4.cpu {{app.monit.cpu * 100}}%
                                    h4.memory {{app.monit.memory}} B
