doctype 5
html(ng-app="pm2panel")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title 
        block title
            | #{site.name}
    link(rel='shortcut icon',type="image/x-icon",href="/images/favicon.ico")
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script.
        window.api = '#{site.api}';
    script(src="/js/lib/jquery/jquery-1.10.2.min.js")
    script(src="/js/lib/angular/angular.min.js")
    script(src="/js/lib/angular/angular-resource.min.js")
    script(src="/js/store.js")
    script(src="/js/pm2-panel.js")
    block js